@import 'styles/presets.scss';

.holder {
  margin-bottom: 2rem;
  border: 1px solid #889;
  border-radius: 1rem;
  overflow: hidden;
}

.head {
  padding: 1rem 3rem;
  background-color: #889;
  color: #fff;

  h4 {
    margin-bottom: 0;
    font-size: 1.8rem;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  p {
    margin-bottom: 0;
  }
}

.body {
  padding: 2rem 4rem;
}

.description {
  i {
    display: block;
    height: 40px;
    margin-bottom: 1rem;
    svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }
  h4 {
    font-size: 1.8rem;
  }
}

.bars {
  z-index: 10;
  margin-bottom: 0.05rem;
}

.bar {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
    line-height: 1.2em;
    letter-spacing: 0.05em;
  }
}
