.holder {
  margin-bottom: 1rem;

  svg {
    display: block;
    margin: 0 auto;
  }

  .value {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 300px;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    transform: translateX(-50%);

    dd {
      font-size: 5rem;
      line-height: 1em;

      .unit {
        display: inline-block;
        margin-left: 0.3em;
        vertical-align: baseline;
        font-size: 50%;
        line-height: 1em;
      }
    }

    &.zero dd {
      color: #a8c366;
    }

    &.low dd {
      color: #fcdad5;
    }

    &.medium dd {
      color: #f5a196;
    }

    &.high dd {
      color: #ef6350;
    }
  }
}
