@import 'styles/presets.scss';

.bar {
  svg {
    display: block;
    height: 20px;
    width: 100%;
  }

  svg text {
    line-height: 1em;
    font-size: 1.2rem;
    alignment-baseline: middle;
  }

  &.small svg {
    height: 10px;
  }

  &.gray svg rect {
    fill: $tint-gray;
  }
}

.icon {
  font-size: 1.8rem;
}
